In [ ]:
def add(a, b):
    return a + b

print(add(34,43))

In [7]:
def digit_checker(sentence):
    if sentence.isdigit():
        print(f"The given number is digit")
    else:
        print(f"The given number is NOT digit")

digit_checker("45")

# so digit_checker function is returning None 
print(digit_checker("34"))

# print(4 * None) # ERROR
# 4 * digit_checker("34") # ERROR

The given number is digit
The given number is digit
None

In [12]:
4 * False # 0
4 * True # 4

4

In [14]:
# print function returns None
print(print())

None

In [15]:
4 * print(3>5) # 4 * None --> ERROR

False

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [16]:
type(print(3 > 5))

False

NoneType

In [18]:
def mul(a, b):
    return a * b

print(mul(23, 12) * 8)

2208

In [27]:
def mul(*args): # you can use any name instead of args
    print(args) # args is a tuple
    product = 1
    for ele in args:
        if str(ele).isdigit():
            product *= ele
    return product

mul(23, 2, "hitesh", 2)

(23, 2, 'hitesh', 2)

92

In [ ]:
# default parameter and actual parameter
def greet(name, message="Hello"):
    return f"{message}, {name}!"

# Calling function with both parameters (actual parameters)
print(greet("Hitesh", "Good morning"))  # Good morning, Hitesh!

# Calling function with only the required parameter (name)
print(greet("Hitesh"))  # Hello, Hitesh!

# Default parameters must come after non-default parameters

In [31]:
# Default parameters are evaluated only once
def add_item(item, items_list=[]):
    items_list.append(item)
    return items_list

# Calling with different items but the same default list
print(add_item("Apple"))   # ['Apple']
print(add_item("Banana"))  # ['Apple', 'Banana']
print(add_item("Chiku"))  # ['Apple', 'Banana', 'Chiku']

['Apple']
['Apple', 'Banana']
['Apple', 'Banana', 'Chiku']

In [32]:
def mul(*args):
    # Check if args is empty and set default value
    if not args:
        args = (0,)
    print(args)

mul(23, 2)  # (23, 2)
mul()       # (0,)

(23, 2)
(0,)

In [35]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for j in range(2 * i + 1):
        print("*", end=" ")
    print()

Enter number of rows:  7

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [36]:
k = 2
for i in range(1, 6, 2):
    print("  " * k + i * "* ")
    k -= 1

    *
  * * *
* * * * *

In [42]:
for i in range(1, 6, 2):
    print(i)

1
3
5

In [38]:
k = 2
for i in range(1, 6, 2):
    print("  " * k + i * "* ")
    k -= 1

    *
  * * *
* * * * *

In [41]:
rows = int(input("Enter number of rows: "))
k = rows - 1
for i in range(1, rows * 2, 2):
    print("  " * k + i * "* ")
    k -= 1

Enter number of rows:  8

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [47]:
list45 = []
for num in range(1000, 3001):
    temp = num
    flag = True
    while num > 0:
        remainder = num % 10
        if remainder % 2 != 0:
            flag = False
            break
        num = num // 10
    if flag:
        list45.append(str(temp))

# print(list45)
print(", ".join(list45))

2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888

In [53]:
# separator_string.join(iterable)
words = ["Hello", "world", "from", "Python"]
sentence = " - ".join(words)
print(sentence)

Hello - world - from - Python

In [50]:
# This will raise an error because one of the elements is an integer
numbers = [1, 2, 3]
# result = ", ".join(numbers)  # Raises TypeError

In [ ]:
# always practice 100-100 interview que
# dsa que
# sql que
# data science ques